
*{
  background-color: #202124;
  color: white;
}
.head{
  display: block;
  width: fit-content;
  margin: auto;
  margin-bottom: 0px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
.disp-box{
  word-wrap: break-word;
  width: 60% !important;
  margin: auto !important;
  margin-top: 100px !important;
  padding: 1% !important;
  border:  1px solid white;
  border-radius: 10px;
}
.Image{
  height: auto;
  width: 100%;
  border-radius: 3px;
  padding: 0.5%;
  border: 1px solid white;
}
.author{
  width: fit-content;
  display: block;
  margin-left: auto;
}
a{
  text-decoration: none !important;
}
.title{
  width: fit-content;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
